<html>
	<head>
		<title>Gospel Toolbox</title>
		<link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="assets/css/theme.css">

		<script src="vendor/jquery/dist/jquery.min.js"></script>
    <script src='https://www.google.com/recaptcha/api.js'></script>
		<script>
		$(function() {
		  $('a[href*=#]:not([href=#])').click(function() {
		    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {

		      var target = $(this.hash);
		      target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
		      if (target.length) {
		        $('html,body').animate({
		          scrollTop: target.offset().top
		        }, 500);
		        return false;
		      }
		    }
		  });
		});
		</script>
	</head>
	<body>
		<nav class="navbar navbar-default navbar-fixed">
  			<div class="container-fluid">
		
			<div class="navbar-header">
			 <a class="navbar-brand" href="#splash">
		        <img alt="Brand" src="assets/images/LogoCircleRedWhite200.png" style="height:35px">
		      </a>
		      </div>

			    <ul class="nav navbar-nav">

			        <li><a href="#getinvolved" class="btn btn-header">Get Involved</a></li>
			        <li><a href="#contactus" class="btn btn-header">Contact Us</a></li>
			        <li><a href="https://docs.google.com/a/micahlee.com/forms/d/1O_hqJ7oHL4Uou4nVTcpDc8kHfjDUkGn1xU6kCJ9irUU/viewform" class="btn btn-header">Technology Survey</a>
			      </ul>


 				<ul class="nav navbar-nav navbar-right">
			        <li><a href="https://github.com/gospeltoolbox"><img src="assets/images/github.png" style="height: 30px;"></a></li>
			        <li><a href="https://twitter.com/gospeltoolbox"><img src="assets/images/twitter.png" style="height: 30px;"></a></li>
			      </ul>

			</div>
		</nav>

		
		<div id="splash" class="container-fluid page">
			<div class="row" style="margin-top: 5%;">
				<div class="col-md-4 col-md-offset-4">
					<img src="assets/images/LogoColor800.png" class="logo-large">
				</div>
			</div>
			<div class="row">
				<div class="missionstatement col-md-8 col-md-offset-2">
				The <strong>Gospel Toolbox</strong> exists to equip the church to more
				effectively grow in <strong>personal discipleship</strong>, <strong>church planting</strong>, and <strong>global missions</strong> through modern app development and technology.
				</div>
			</div>
			<div class="row" style="margin-top: 5%">
				<div class="col-md-12 centered-block">
					<a href="#getinvolved" class="btn btn-default btn-lg">Learn More</a>
          <a href="https://docs.google.com/a/micahlee.com/forms/d/1O_hqJ7oHL4Uou4nVTcpDc8kHfjDUkGn1xU6kCJ9irUU/viewform" class="btn btn-success btn-lg"><b>Take the Survey!</b></a>
				</div>
			</div>
		</div>

	<div id="getinvolved" class="container-fluid page">
		<div class="row" style="margin-top: 100px;">
			<div class="col-md-offset-1 col-md-5" >
				<div class="joinbox">
				<h2>Developers and Creators</h2>
				<p>
				Do you have experience in...
				<ul style="font-weight: bold">
					<li>Software Engineering</li>
					<li>Mobile or Web App Development</li>
					<li>Graphic Design</li>
					<li>Cyber Security</li>
					<li>DevOps</li>
				</ul>
				... or any number of other related fields? You can help equip church planters, missionaries, and the church body to be more effective disciples of Christ. Join our community on github to begin contributing, or sign up to find out about Gospel Toolbox meet-ups in your area.
				</p>
				<p  class="centered-block">
				Interested? Let us know using the contact form!
				</p>
				<span class="centered-block">
					<a href="#contactus" class="btn btn-success">Contact Us</a>
				</span>
				</div>
			</div>

			<div class=" col-md-5">
				<div class="joinbox">
					<h2>Church Planters and Missionaries</h2>
					<p>
					The most effective tools are built out of experience. Use the lessons you've learned from the field to shape the Gospel Toolbox:
					<ul>
						<li><b>Install and try out</b> existing apps and prototypes</b>
						<li><b>Give feedback</b> on apps or share ideas for new ones</li>
						<li><b>Be interviewed</b> by our team to help discover new opportunties for technology in ministry</li>
						<li><b>Serve as an advisor</b> at a Gospel Toolbox meet-up, working side-by-side with developers to build new technology.</li>
						<li><b>Spread the word</b> to connect others with the Gospel Toolbox
					</ul>
					</p>
					<p class="centered-block">
					We're always open to new ideas for contributing! Let us know using the contact form.
					</p>
					<span class="centered-block">
						<a href="#contactus" class="btn btn-success">Contact Us</a>
					</span>
				</div>
			</div>
		</div>

		<div class="row" style="margin-top: 50px">
			<div class="col-md-offset-1 col-md-10">
				<div class="joinbox">
					<h2>Partners</h2>
					<div class="centered-block">
						<a href="http://www.redemptionhillchurch.com/">
						<img src="assets/images/rhc.png" class="supporter-logo">
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="contactus" class="container-fluid page">
		<div class="row" style="margin-top: 100px;">
			<div class="col-md-offset-1 col-md-10">
				<div class="joinbox">
				<h2>Contact Us</h2>
				{{#if args.err}}
				<p class="bg-danger" style="padding:10px"><b>{{args.err}}</b></p>
				{{/if}}
				
				<form action="/contact" method="post">
				  <div class="form-group">
				    <label for="inputName">Name</label>
				    <input type="text" class="form-control" id="inputName" name="inputName" value="{{args.name}}">
				  </div>
				  <div class="form-group">
				    <label for="inputEmail">Email address</label>
				    <input type="email" class="form-control" id="inputEmail" name="inputEmail" value="{{args.email}}">
				  </div>				  
				  <div class="form-group">
				    <label for="inputMessage">What are you getting in touch about?</label>
				    <textarea class="form-control" style="height: 15em" id="inputMessage" name="inputMessage">{{args.message}}</textarea>
				  </div>
				  <div class="form-group">
				    <label for="exampleInputPassword1">Subscribe to a mailing list...</label>

				    <div class="checkbox">
					    <label>
					      <input type="checkbox" name="inputSubscriptions[]" value="contributing" {{#if args.contributing}} checked="checked" {{/if}}>I want to learn more about ways to <b>contribute to Gospel Toolbox.</b>
					    </label>
					  </div>

					  <div class="checkbox">
					    <label>
					      <input type="checkbox" name="inputSubscriptions[]" value="ministryApps" {{#if args.ministryApps}} checked="checked" {{/if}}>I want to learn more about <b>apps for Church Planting and Missions.</b>
					    </label>
					  </div>

					  <div class="checkbox">
					    <label>
					      <input type="checkbox" name="inputSubscriptions[]" value="personalApps" {{#if args.personalApps}} checked="checked" {{/if}}>I want to learn more about <b>apps for Personal Discipleship.</b>
					    </label>
					  </div>
            
 				  </div>
				  
          <div class="g-recaptcha" data-sitekey="6Le2gA0TAAAAACQ_oPCfmuB6ZtxnHSD8KQYcQpKI"></div>
          
				  <button type="submit" class="btn btn-success">Submit</button>
				</form>


				</div>
			</div>
		</div>
	</div>


	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-61746652-1', 'auto');
	  ga('send', 'pageview');

	</script>
	</body>
</html>