@font-face {
font-family: 'Qlassik Bold';
font-style: normal;
font-weight: normal;
src: local('Qlassik Bold'), url('../fonts/QlassikBold_TB.woff') format('woff');
}

body {
	background: black;
}

.navbar {
	border-radius: 0px;
	border: none;
	margin-bottom: 0px;
}

.navbar-default {
	background: none; /*-color: #233D4D; */
}

.navbar-fixed {
	position: fixed;
	top: 0px;
	left:0px;
	right:0px;
}

.navbar-brand > span.title {
	font-family: 'Qlassik Bold';
	color: #FFF;

	display: inline-block;
	line-height: 50px;
	font-size: 2em;
	text-shadow: 1px 1px rgba(0,0,0,0.5);
}

.page {
	height: 100%;
}

#splash {
	background: black url('../images/hero1.jpg');
	background-size: cover;
    background-repeat: no-repeat;
}

#getinvolved {
	background: black url('../images/hero2.jpg');
	background-size: cover;
    background-repeat: no-repeat;
}

#contactus {
	background: black url('../images/hero1.jpg');
	background-size: cover;
    background-repeat: no-repeat;
}

.missionstatement {
	margin-top: 50px;
	color: #FFFFFF;
	font-size: 2em;
	text-align: center;
 	text-shadow: 1px 1px #000000;
 }

 .fadebox {
 	color: white;
 	padding: 15px;
 	border-radius: 5px;
 	background: rgba(0, 0, 0, 0.5);
 }

 .joinbox {
 	background: rgba(255,255,255, 0.9);
 	border-radius: 5px;
 	padding: 15px;
 	margin: 15px;
 }

 .joinbox > h2 {
 	margin: 0px;
 	text-align: center;
 }

 .centered-block {
 	display: inline-block;
 	width: 100%;
 	text-align: center;
 }

 .logo-large {
 	width: 100%;
 	display: inline-block;
 	-webkit-filter: drop-shadow(1px 1px 1px rgba(0,0,0,0.5));
  	filter: drop-shadow(1px 1px 1px rgba(0,0,0,0.5));
 }

 .supporter-logo {
 	display: inline-block;
 	margin: 40px;
 	height: 70px;
 }

 .nav > li > a.btn-header,
 .nav > li > a.btn-header:focus,
 .nav > li > a.btn-header:active {
 	background-color: transparent;
    color: #fff;
    transition: all .2s;
    border-color: #fff;
    margin: 15px 5px;
    padding: 5px 10px;
 }

  .nav > li > a.btn-header:hover {
  	background-color: rgba(0,0,0, 0.2);
    color: #fff;
  }