<section class="footer">
  <div class="links">
    <ul>
      <li>
        <a href="https://github.com/GospelToolbox">Github</a>
      </li>
        <li>
            <a href="https://twitter.com/GospelToolbox/followers">Twitter</a>
        </li>
        <li>
          <a href="https://www.facebook.com/thegospeltoolbox/">Facebook</a>
        </li>
        <li>
          <a href="https://www.instagram.com/gospeltoolbox/">Instagram</a>
        </li>
        <li>
          <a href="https://medium.com/gospel-toolbox">Blog</a>
        </li>
      <li>
          <a href="https://status.gospeltoolbox.org/">Status</a>
      </li>
    </ul>
    
  </div>
</section>